body {
  font-family: Courier New;
  background-color: black;
  color: azure;
}

.searchFormDiv {
  display: flex;
  flex-direction: column;
}

.SearchLable {
  color: transparent;
}

.formWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 2px;
  /* padding: 1.4rem 2rem 1.6rem; */
  background: rgba(57, 63, 84, 0.8);
}

.searchInput {
  border-style: none;
  background: transparent;
  outline: none;
  padding-left: 1.4rem;
  width: 100%;
  /* flex-grow: 1; */
  /* color: #7881a1; */
  font-size: 1.5rem;
  line-height: 2.4rem;
  vertical-align: middle;
  color: grey;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 1.4rem 2rem 1.6rem;
}

.checkboxes {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 450px;
  margin: auto;
  background: rgba(57, 63, 84, 0.8);
  border-top: 2px solid grey;
  padding: 0.5rem 0;
}

.checkboxInput {
  padding-left: 1.4rem;
}

.gifDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  max-width: 24%;
  padding: 0 4px;
}

.gifCard {
  margin-top: 8px;
  vertical-align: middle;
}

.gifCard img {
  width: 100%;
}
