body {
  font-family: Courier New;
  background-color: black;
  color: azure;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  /* display: inline-block; */

  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: rgba(57, 63, 84, 0.8);
  /* &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  } */
}
input {
  border-style: none;
  background: transparent;
  outline: none;

  flex-grow: 1;
  color: #7881a1;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.gifDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  max-width: 24%;
  padding: 0 4px;
}

.gifCard {
  margin-top: 8px;
  vertical-align: middle;
}

.gifCard img {
  width: 100%;
}
