body {
  font-family: Courier New;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.gifDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

.column {
  max-width: 24%;
  padding: 0 4px;
}

.gifCard {
  margin-top: 8px;
  vertical-align: middle;
}

.gifCard img {
  width: 100%;
}
